<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/signin.css" />
    <title>Sign Up Here</title>
</head>
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <!-- ... (Your existing head content) ... -->
    <link rel="stylesheet" href="css/signin.css" />
    <title>Sign Up Here</title>
</head>
<body>
	
	<img class="bg-img" src="img/Exp_trac.JPG" alt="Background image">
    <div class="container">
		<img class="bg-img" src="img/Exp_trac.JPG" alt="Background image">
        <div class="circle top-left"></div>
        <div class="circle bottom-left"></div>
      
        <div class="side right-side">
            <div class="content">
                <h1>Sign In</h1>

                <div class="form">
                    <form th:action="@{/login}" th:object="${user}" method="post">
                        <div class="form-control">
                            <i class="fas fa-user"></i>
                            <input type="text" th:field="*{username}" placeholder="Email ID">
                        </div>
                        
                        <div class="form-control">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" th:field="*{password}" id="password" name="password" placeholder="Password">
                            <i class="fa-regular fa-eye"></i>
                        </div><br>
                        
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>Remember me</label>
                        </div>
                        
                        <button type="submit"><a href="index.html">Sign In</a></button>
                        <button class="signup-button"><a href="index">Sign Up</a></button> 
                        <!-- New "Sign Up" button -->
                        <br><br><a href="temp.html" class="already-member">Forgot Password ?</a><br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
